html{
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
}
html, body{
	position: relative;
	height: 100%;
}
body{
	margin:0;
}
:after, :before, * {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

li{
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a{
    text-decoration: none;
}

strong {
    font-weight: bold;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}
:focus {
    outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}